main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--main-height);
  width: 100vw;
  padding: 5rem;
}

.container {
  display: flex;
  gap: 15rem;
}

.board-container {
  display: grid;
  height: 16rem;
  width: 16rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  border: 1px solid black;
}

.cell:not(.occupied):hover {
  background-color: aliceblue;
}

.cell:hover {
  background-color: rgb(127, 193, 255);
}

.occupied {
  background-color: blue;
}